<div class="form-partial">
  <h3>First, tell us about the position</h3>
  <%=  simple_form_for @job do |j|%>
    <%= j.input :title, as: :string, label: 'Job Title' %>
    <%= j.input :category, collection: ['coaching', 'design'] %>
    <%= j.input :type, as: :radio_buttons, collection: ['contract', 'freelancer'] %>
    <%= j.input :applying, as: :string, label: 'How to Apply' %>
    <%= j.input :description, as: :text, label: 'Job Description' %>
    <%= j.button :submit, "to preview", id: "post-job-submit" %>
  <% end %>
</div>



<%#= form_for @company do |f| %>
  <%#= f.label :name %>
  <%#= f.text_field :name %>
  <%#= f.label :description %>
  <%#= f.text_field :description %>

  <%#= f.fields_for @job do |j| %>
    <%#= j.label :title %>
    <%#= j.text_field :title %>
  <%# end %>
  <%#= f.submit %>
<%# end %>
