<div class="content">

  <!-- header -->
  <div class="listing-header">
    <p><%= @job.created_at.strftime('Posted %b %d')  %></p>
    <h1><%= @job.title  %></h1>
    <h2><%= @job.company.name %></h2>
    <span class="listing-tag"><%= @job.category %></span>
    <span class="listing-tag"><%= @job.job_type %></span>
    <!-- <span class="listing-tag"></span> -->
  </div>

  <!-- listing -->
  <div class="company-card">
    <div class="company-logo">
        <% if @company.photo.attached? %>
          <%= cl_image_tag @company.photo.key, height: 150, width: 200, crop: :fill %>
        <% end %>
    </div>
    <div class="listing-container">
      <%= link_to "<h1>#{ @job.company.name }</h1>".html_safe, company_path(@company), {class: 'h2'}  %>
    </div>
    <p><%= @job.company.headquarters  %></p>
    <a href=<% @job.company.url %>>View website</a>
    <p>Jobs Posted:<%= @job.company.jobs.length %></p>
    <div class="apply-btn">
      <a href="#" id="post-job-submit">Apply for this position</a>
    </div>
    <%= link_to "View all jobs ", company_jobs_path(@company) %>
  </div>
  <section class="job" id="job-show">
    <div class= "job-listing">
      <div class= "job-listing-show">
        <pre><%= @job.description.with_all_richt_text_content  %></pre>
      </div>
    </div>
    <div class="listing-tools">
      <%= link_to "View all positions at #{@job.company.name}", company_jobs_path(@company) %>
      <div class="apply-btn">
        <a href="#" id="post-job-submit">Apply for this position</a>
      </div>
    </div>
  </section>
</div>

