<header id="header">
  <div class="primary-feature">
    <h1>workagile.io - find your agile job</h1>
  </div>
   <div class="secondary-feature">
    <h2>workagile is a work community for agile jobs in the world. workagile will be the number one destination to find and list incredible agile opportunities.</h2>
  </div>
  <div class="post-job">
    <%= link_to 'Post a job for 249 €', new_path, class: "post-job-btn" %>
  </div>
</header>
<div class="screen">
  <div class="container">
    <div class="list-container">
      <ul>
        <h2>Agile Jobs</h2>
        <% @jobs.each do |job| %>
            <%= link_to job_path(job) do %>
                <% if job.company.photo.attached? %>
                <%= image_tag job.company.logo, width: 40, height: 40, class: "avatar-small" %>
                <% end %>
                  <%if job.new? %>
                  <div class="job-card job-card-new">
                    <p class="new-tag">NEW</p>
                    <div class="job-card-info-infos">
                      <div>
                        <p><%= job.company.name %></p>
                        <h3><%= job.title %></h3>
                      </div>
                    </div>
                    <% if job.featured? %>
                    <p class="featured">Featured</p>
                    <% end %>
                  <% else %>
                  <div class="job-card">
                    <div class="job-card-info-infos">
                      <p><%= job.company.name %></p>
                      <h3><%= job.title %></h3>
                      <p><%= job.created_at.strftime('Posted %b %d') %></p>
                    </div>
                  </div>
                  <% end %>
                </div>
              </a>
            <% end %>
          <% end %>
      </ul>
    </div>
  </div>
</div>
